name: blog-fuwari
services:
  dev:
    build: .
    ports:
      - "4321:4321"
    volumes:
      - .:/app
      - node-modules:/app/node_modules
    tty: true
    stdin_open: true
    environment:
      CHOKIDAR_USEPOLLING: true
volumes:
  node-modules:
